<p id="notice"><%= notice %></p>

<h1>Optional Modules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @optional_modules.each do |optional_module| %>
      <tr>
        <td><%= optional_module.name %></td>
        <td><%= optional_module.description %></td>
        <td><%= link_to 'Show', optional_module %></td>
        <td><%= link_to 'Edit', edit_optional_module_path(optional_module) %></td>
        <td><%= link_to 'Destroy', optional_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Optional Module', new_optional_module_path %>
