<body>
  <section class="module">
    <div class="row">
      <h2 class="modules">Optional Modules</h2>
    </div>
    <div class="row">
      <% @optional_modules.each do |optional_module| %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= optional_module.name %></h4>
          <p class="card-text"><%= optional_module.description %> <%= optional_module.id %></p>
            <% if current_account.optional_modules.exists?(optional_module.id)%>
              <%= button_to 'Unenrol', optional_module_path(optional_module.id), method: :delete, data: { confirm: 'Are you sure?'} %>
            <% else %>
              <%= button_to 'Enrol', {:action => "create"}, params: {:account_id => current_account.id, :optional_module_id => optional_module.id} %>
            <% end %>
        </div>
        <br/>
      </div>
      <% end %>
    </div>
  </section>
</body>